*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

canvas{
  display: block;
}

#canvasDiv{
  display: inline-blocks;
}

#toolbar{
  width: 100%;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color:#4f4f4f;
  color: white;
}

.radiuscontrol{
  width: 30px;
  height: 30px;
  background-color: #4f4f4f;
  display: inline-block;
  text-align: center;
  padding: 5px;
}

#radius{
  float: left;
}

#colors{
  float: left;
  margin-left: 5px;
}

.tool{
  float: left;
  margin-left: 40px;
  max-width: 2%;
  background-color: white;
}
.tool:hover{
  background-color: #818181;
}

#save{
  float: right;
  margin-right: 20px;
  height: 30px;
  padding: 8px;
  background-color: #434343;
}


#save:hover{
  background-color: #818181;
}

#black{
  float: right;
  margin-right: 20px;
  height: 30px;
  padding: 8px;
  background-color: #434343;
}


#black:hover{
  background-color: #818181;
}

#upload{
  float: right;
  margin-right: 20px;
  height: 30px;
  padding: 8px;
  background-color: #434343;
}

#upload:hover{
  background-color: #818181;
}

#clear{
  float: right;
  margin-right: 20px;
  height: 30px;
  padding: 8px;
  background-color: #434343;
}

#clear:hover{
  background-color: #818181;
}
